.bs-component + .bs-component {
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shopname {
	font-size: 1.7rem; color: #ffffff; font-weight: bold; margin-bottom: 15px; letter-spacing: 2px; line-height: 1.5;
	background: #1c1c1c;
	padding: 0.5em;
}
.shopname a{
  color: #ffffff;
}